---
// Component Imports

import CallToActionCountrys from "../components/CallToActionCountrys.astro";

import FeatureCountry from "../components/FeatureCountry.astro";
import HeroSeccionCountry from "../components/HeroSeccionCountry.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Estudia y trabaja en Nueva Zelanda desde Argentina">
    <main class="bg-white">
        <HeroSeccionCountry
            src="/australiastudy.jpg"
            title="Australia"
            sub="Donde el Inglés se Fusiona con Aventuras Inolvidables"
        />
        <FeatureCountry
            title="Australia"
            ,
            sub="Estudiar idiomas en Nueva Zelanda es una experiencia fascinante. Aquí tienes tres puntos destacados:"
            ,
            sTitle1="Inmersión lingüística y cultural"
            ,
            text1="En Australia, no solo aprenderás inglés, sino que también vivirás una inmersión completa en la cultura australiana. Desde las playas de Gold Coast hasta las ciudades vibrantes como Sídney y Melbourne, tendrás la oportunidad de practicar el idioma en situaciones reales."
            ,
            sTitle2="Variedad de cursos"
            ,
            text2="Australia ofrece una amplia gama de cursos de inglés para satisfacer diferentes necesidades. Puedes elegir entre: mejorar tus habilidades comunicativas diarias, prepárate para estudiar en instituciones australianas. Enfocarte en contextos profesionales o académicos específicos y prepararte para exámenes como el IELTS, TOEFL, TOEIC u otros."
            ,
            sTitle3="Visa de estudiante y aventura"
            ,
            text3="Australia permite trabajar mientras estudias, lo que brinda una experiencia completa. Además, su entorno natural espectacular te invita a explorar y vivir aventuras únicas."
        />
        <CallToActionCountrys />
    </main>
</Layout>
