---
// Component Imports
import BentoProcess from "../components/BentoProcess.astro";
import Button from "../components/Button.astro";
import ButtonScroll from "../components/ButtonScroll.astro";
import CallToActionCountrys from "../components/CallToActionCountrys.astro";
import Feature from "../components/Feature.astro";
import HeroSeccionIndex from "../components/HeroSeccionIndex.astro";
import Testimonials from "../components/Testimonials.astro";
import TravelsCards from "../components/TravelsCards.astro";
import Why from "../components/Why.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maquinaria y Capacitación Paletas de Helado">
	<main>
		<HeroSeccionIndex />
		<TravelsCards />
		<ButtonScroll />
		<Why />

		<BentoProcess />
		<CallToActionCountrys />
		<Feature />
	</main>
</Layout>
