---
// Component Imports
import BentoProcess from "../components/BentoProcess.astro";
import Button from "../components/Button.astro";
import ButtonScroll from "../components/ButtonScroll.astro";
import CallToActionCountrys from "../components/CallToActionCountrys.astro";
import Feature from "../components/Feature.astro";
import HeroSeccionIndex from "../components/HeroSeccionIndex.astro";
import Testimonials from "../components/Testimonials.astro";
import TravelsCards from "../components/TravelsCards.astro";
import FormularioContacto from "../components/FormularioContacto.astro";
import Why from "../components/Why.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Asesores Intercambio Europeo para Ingles">
	<main class="view">
		<HeroSeccionIndex />

		<div class="blockAnimation">
			<TravelsCards />
		</div>
		<ButtonScroll />
		<div class="blockAnimation">
			<Why />
		</div>

		<BentoProcess />

		<div class="blockAnimation">
			<CallToActionCountrys />
		</div>
		<div class="blockAnimation2 animate-spin">
			<Feature />
		</div>
	</main>
</Layout>

<style>
	@keyframes appear {
		from {
			opacity: 0;
			scale: 0.5;
		}
		to {
			opacity: 1;
			scale: 1;
		}
	}

	@keyframes anim2 {
		from {
			opacity: 0;
			transform: translateY(-200px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.blockAnimation {
		animation: appear linear;
		animation-timeline: view();
		animation-range: entry 0% cover 40%;
	}

	.blockAnimation2 {
		animation: anim2 linear;
		animation-timeline: view();
		animation-range: entry 0% cover 30%;
	}
</style>
