---
import Input from "../components/Input.astro";
import Button from "../components/Button.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>New</h1>
  <form id="create-account">
    <Input name="email" label="Tu email" type="email" />
    <Input name="password" label="Tu contraseña" type="password" />
    <Button intent={"accent"}>Crear</Button>
  </form>
  <script>
    import { actions } from "astro:actions";
    const createForm = document.querySelector(
      "#create-account",
    ) as HTMLFormElement;
    createForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      await actions.createAccount(new FormData(createForm));
    });
  </script>
</BaseLayout>
