---
// Component Imports

import ContactoPrueba from "../components/ContactoPrueba.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Preparación para certificación Tesol">
    <main class="bg-white">
        <ContactoPrueba />
    </main>
</Layout>

<style>
    h2 {
        text-shadow: 4px 4px 2px rgba(4, 39, 20, 0.6);
    }
</style>
