---

---

<div class="bg-amber-600 px-4 py-3 text-white">
    <p class="text-center text-sm font-medium">
        Pagina en Construcción
        <a
            class="inline-block underline"
            href="https://wa.link/5sygk4"
            target="_blank"
            rel="noreferrer"
            >Para mayor información contacto directo por whatsapp</a
        >
    </p>
</div>
