---

---

<div class="w-full flex justify-center mt-4">
    <a
        href="#siguiente-seccion"
        class="animate-bounce p-4 text-amber-900 rounded-full border-2 border-amber-900 shadow-lg cursor-pointer hover:bg-amber-600 transition duration-500 ease-in-out"
    >
        ⬇
    </a>
</div>

<style>
    /* Estilos para la animación del botón */
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }
</style>
