---
import Buttons from "./Buttons.astro";
---

<div class="bg-amber-800 mt-10">
    <div
        class="max-w-screen-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8"
    >
        <h2
            class="text-3xl leading-9 font-extrabold tracking-tight text-white sm:text-4xl sm:leading-10"
        >
            ¿Listo para comenzar tu aventura ?
            <br />
            Contacta con un asesor estudiantil ahora mismo.
        </h2>
        <div class="mt-8 flex justify-center">
            <Buttons title="Quiero hablar con un asesor" />
        </div>
    </div>
</div>
