---
interface Props {
    title?: string;
    link?: string;
    img?: string;
    studies?: string;
}
const { title, link, img, studies } = Astro.props;
---

<div class="flex justify-center items-center max-w-1/3">
    <div
        class="p-4 bg-white rounded-sm shadow-xl hover:shadow-2xl hover:scale-105 transition-all transform duration-500"
    >
        <img
            class="w-60 object-cover rounded-t-md"
            src={img}
            alt="visa estudiantil en el extrangero"
        />
        <div class="">
            <h3 class="text-base font-bold text-gray-700">{title}</h3>
            <div class="mb-2 flex justify-between">
                <button
                    class="block text-xs font-regular text-gray-700 cursor-auto"
                    >{studies} estudiantes</button
                >
                <button
                    class="text-sm block font-semibold py-1 px-4 text-lime-50 bg-lime-900 hover:text-lime-900 hover:bg-lime-500 border-solid border-2 border-lime-900 rounded-full shadow hover:shadow-md transition duration-300"
                    ><a href={link}>Leer más...</a></button
                >
            </div>
        </div>
    </div>
</div>
