---
import { Icon } from "astro-icon/components";
interface Props {
    title: string;
    name: string;
    url?: string;
}

const { title, name, url } = Astro.props;
---

<ul
    class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-50 border-b sm:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3"
>
    <div class="flex items-center mb-4">
        <Icon name={name} class="text-4xl min-w-14 mr-0 flag" />
        <h2 class="font-bold text-3xl text-white text-bold tracking-wider">
            {title}
        </h2>
    </div>
    <slot />
    <!-- <p class="text-gray-100 text-sm">
    <strong
        >Test of English as a Foreign Language
    </strong>: Es una prueba estandarizada que
    evalúa el dominio del idioma inglés en personas
    cuya lengua materna no es el inglés.
</p> -->
    <div class="flex items-center py-3">
        <svg
            class="h-6 pr-3 fill-current more text-[#F9F871]"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
        >
            <path
                d="M20 10a10 10 0 1 1-20 0 10 10 0 0 1 20 0zm-2 0a8 8 0 1 0-16 0 8 8 0 0 0 16 0zm-8 2H5V8h5V5l5 5-5 5v-3z"
            ></path>
        </svg>
        <a
            href={url}
            class="text-white bold border-b-2 border-[#F9F871] hover:text-[#F9F871]"
            >Saber más...</a
        >
    </div>
</ul>

<style>
    h2 {
        text-shadow: 2px 2px 2px rgb(24, 24, 23);
    }
    svg {
    }
    .flag {
        animation: float 6s ease-in-out infinite;
        filter: drop-shadow(2px 2px 5px rgb(21, 21, 18));
    }
    .more {
        animation: more 1s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
            transform: translatey(0px);
        }
        50% {
            filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));
            transform: translatey(-10px);
        }
        100% {
            filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));
            transform: translatey(0px);
        }
    }
    @keyframes more {
        0% {
            transform: translatex(0px);
        }
        50% {
            transform: translatex(-5px);
        }
        100% {
            transform: translatex(0px);
        }
    }
</style>
