---
import HeroSeccionIndex from "./HeroSeccionIndex.astro";
import TopMenu from "./TopMenu.astro";
import MegaMenu from "./MegaMenu.astro";

// Component Imports
---

<div class="z-10">
    <MegaMenu />
</div>
