---
interface Props {
    title?: string;
    src?: string;
    sub: string;
}
import "@fontsource/abril-fatface";
import "@fontsource/lato";
const { title, src, sub } = Astro.props;
---

<div
    class="relative max-h-[400px] overflow-hidden flex items-center justify-center"
>
    <!-- Imagen de fondo con superposición degradada -->
    <div
        class="absolute inset-0 bg-gradient-to-b from-lime-900 to-transparent opacity-70"
    >
    </div>
    <img src={src} alt="Imagen de fondo" class="w-full h-full object-cover" />

    <!-- Contenido centrado -->
    <div class="absolute transform text-white text-center z-10">
        <h3 class="text-6xl font-bold mb-4 tracking-widest">
            {title}
        </h3>
        <p class="text-lg">{sub}</p>
    </div>
</div>

<style>
    h3 {
        font-family: "Abril Fatface", cursive;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    }
    p {
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    }
</style>
