---
// Component Imports
import "@fontsource-variable/playfair-display";
---

<div class="relative">
    <div class="bg-cover bg-center h-56 hero text-white text-center">
        <h1 class="text-5xl font-normal pt-10 tracking-wider">
            Tus sueños de <span class="text-7xl leading-7">Estudios</span> esperan
        </h1>
        <p
            class="text-white font-semibold text-base text-center max-w-2xl mx-auto mt-4 bg-slate-950/70"
        >
            Descubre la riqueza cultural, amplía tus horizontes y construye un
            futuro brillante en Europa. No importa si eres estudiante,
            profesional o aventurero.
        </p>
        <span class="text-3xl font-semibold">
            ¡Nosotros te guiaremos en esta experiencia!
        </span>
    </div>
</div>
<style>
    .hero {
        font-family: "Playfair Display Variable", serif;

        background-image: url("herovisa2.jpg");
    }
    p {
        font-family: "DM Sans Variable", sans-serif;
    }
    span {
        font-family: "Vujahday Script", cursive;
    }
</style>
