---
interface Props {
    number: string;
    preposition: string;
}

const { number, preposition } = Astro.props;
---

<div
    class="bento bg-lime-500 border-solid text-lime-900 text-2xl font-extrabold rounded-full shadow-md shadow-lime-900 border-lime-900 p-3"
>
    <p>{number}<sup>{preposition}</sup>Paso:</p>
</div>

<style>
    .bento {
        font-family: "Vujahday Script", cursive;
        position: absolute;
        z-index: 2;
        top: 0.5rem;
        left: 1rem;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
