---

---

<div class="keen-slider__slide">
    <blockquote
        class="flex h-full flex-col justify-between p-6 shadow-sm sm:p-8 lg:p-4"
    >
        <div class="shadow-lg rounded overflow-hidden">
            <img class="" src="/pamelatestimonio.jpg" />
            <div class="bg-white p-4">
                <p class="font-light text-xl italic font-gray-800">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.
                </p>
                <p class="mt-4 font-light text-sm text-gray-500">
                    Customer Support Pro
                </p>
                <p class="mt-1 font-semibold text-sm text-gray-900">
                    US transport
                </p>
            </div>
        </div>
    </blockquote>
</div>
