---

---

<h1
    class="text-6xl max-md:text-5xl font-normal pt-10 tracking-wider max-md:flex-col leading-snug capitalize"
>
    Tus Sueños de <span class="animar"> </span>
    <span class="point">Estudiar</span> Esperan
</h1>

<style>
    @media (max-width: 768px) {
        .animar::before {
            content: "Estudiar";
            position: relative;
            left: calc(((100vw) / 2) - 100px);
        }
    }
    h1 {
        display: flex;
        position: relative;
        justify-content: center;

        font-family: "Abril Fatface", system-ui;
        text-shadow: 4px 4px 2px rgba(4, 39, 20, 0.6);
    }

    .point {
        content: "Estudiar";
        visibility: hidden;
        animation: animate infinite 1s;
        padding-left: 10px;
        padding-right: 14px;
    }

    .animar::before {
        content: "Estudiar";
        position: absolute;
        opacity: 0;
        animation: animate infinite 10s;
        padding-left: 10px;
        padding-right: 14px;
    }

    @keyframes animate {
        0% {
            content: "Estudiar";
            opacity: 0;
            transform: translateX(-20px);
        }
        5%,
        30% {
            content: "Estudiar";
            opacity: 1;
            transform: translateX(0);
        }
        34.9% {
            content: "Estudiar";
            opacity: 0;
            transform: translateX(20px);
        }
        35% {
            content: "Trabajar";
            opacity: 0;
            transform: translateX(-20px);
        }
        40%,
        65% {
            content: "Trabajar";
            opacity: 1;
            transform: translateX(0);
        }
        69.5% {
            content: "Trabajar";
            opacity: 0;
            transform: translateX(20px);
        }
        70% {
            content: "Cambiar";
            opacity: 0;
            transform: translateX(-20px);
        }
        75%,
        95% {
            content: "Cambiar";
            opacity: 1;
            transform: translateX(0);
        }
        99.5% {
            content: "Cambiar";
            opacity: 0;
            transform: translateX(20px);
        }
    }
</style>
