---

---

<section class="p-8" id="siguiente-seccion">
    <h2 class="text-5xl text-gray-800 font-semibold text-center mb-4">
        Nuestro Compromiso
    </h2>
    <p class="text-xl text-gray-700 text-center">
        <span class="text-2xl text-blue-600">&ldquo;</span>
        Te ayudamos a cumplir tus objetivos de aprendizaje de idiomas ofreciéndote
        la oferta más completa de colegios e internados, y cursos de idiomas en el
        extranjero. Además, te brindamos asesoramiento legal integral para asegurar
        que tu experiencia sea segura y conforme a las regulaciones internacionales.
        Y no solo te ayudamos a elegir lo que necesitas con un asesoramiento 100%
        personalizado, sino que también te ofrecemos acompañamiento en el destino
        elegido, garantizando que tengas el apoyo necesario en cada paso de tu viaje
        educativo.
        <span class="text-2xl text-blue-600">&rdquo;</span>
    </p>
</section>
